:root {
    --dark1: #0000004d;
    --dark2: #181c20;
    --dark3: #212529;
    --dark4: #2d3135;
    --dark5: #424549;
    --dark6: #404346;
    --dark7: #9c9c9c;
    --dark8: #dae0e7;
    --dark9: #262a2e;
    --red1: #06888a;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

li {
    list-style: none;
}

h1 {
    color: rgb(255, 255, 255);
}

.content h1 {
    color: #06888a;
}

h2 {
    color: #06888a;
}

h3 {
    color: #06888a;
}

.btn {
    background: #06888a;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    background: #fff;
    color: #902e31;
    border: 2px solid #902e31;
    padding: 3px 8px;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 2px solid #ffffff;
}

table {
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color:#06888a ;
}

th {
    background-color: #f2f2f2;
}

.side-menu {
    position : fixed;
    background: #06888a;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu a {
    font-size: 24px;
    padding: 10px 40px;
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
}

.side-menu a:hover {
    background: #fff;
    color: #902e31;
}

.side-menu img {
    width: 30px;
    margin: 5px;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type="text"] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav .search button img {
    width: 30px;
    height: 30px;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user img {
    width: 30px;
    height: 30px;
}

.container .header .nav .user .img-case {
    position: relative;
    width: 40px;
    height: 40px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}   

.container .content {
    position: relative;
    margin-top: 0vh;
    min-height: 50vh;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card img {
    width: 100px;
}

.container .content .content-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.chart-container {
    width: 400px; 
    height: 400px; 
}

a {
    text-decoration: none;
    color: white;    
}


.container .content .monthly-report {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.container .content .monthly-report .report-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.container .content .monthly-report .table-container {
    flex: 2; 
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .monthly-report .chart-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container canvas {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 768px) {
    .container .content .monthly-report .report-content {
        flex-direction: column;
        align-items: center;
    }

    .container .content .monthly-report .table-container,
    .container .content .monthly-report .chart-container {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
}


/* Add this to your style.css or adjust as needed */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.table-container table {
    width: 80%; /* Adjust as necessary */
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add this to your style.css or adjust as needed */
.container .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh); /* Adjust based on your header height */
    padding-top: 0px; /* Adjust based on your header height */
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Space between the title and the table */
}

.table-container table {
    width: 70%; /* Adjust as necessary */
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    text-align: center;
}

/* Add this to your existing CSS */

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #06888a;
}

th {
    background-color: #f2f2f2;
}

.status-present {
    color: green;
}

.status-absent {
    color: red;
}

.status-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.status-circle.present {
    background-color: green;
}

.status-circle.absent {
    background-color: red;
}


.table-container table th, .table-container table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #06888a;
    font-weight: bold;
}

.table-container table th {
    background-color: #06888a;
    color: white;
}

.icon-button {
    cursor: pointer;
    width: 300px; /* Adjust as necessary */
    height: 300px; /* Adjust as necessary */
    margin: 80px;
    border: 5px solid #06888a; /* Add a white border */
    border-radius: 10px; /* Optionally, add rounded corners */
    transition: transform 0.2s; /* Add a slight hover effect */
}

.icon-button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Make the container take full height */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: relative;
}

/* The Close Button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.table-container table th, .table-container table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #06888a;
}

.table-container table th {
    background-color: #06888a;
    color: white;
}

